.mazharul{
    color: yellow;
    background-color: black;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    height: 45px;
    font-size: 30px;
}
.mazharul2{
    color: yellow;
    background-color: black;
    width: 280px;
    border-radius: 20px;
    text-align: center;
    height: 45px;
    font-size: 30px;
}
.mazharul3{
    color: yellow;
    background-color: black;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    height: 45px;
    font-size: 30px;
}
.mazharul4{
    color: yellow;
    background-color: black;
    width: 320px;
    border-radius: 20px;
    text-align: center;
    height: 45px;
    font-size: 30px;
}
.mazharul5{
    color: yellow;
    background-color: black;
    width: 360px;
    border-radius: 20px;
    text-align: center;
    height: 45px;
    font-size: 30px;
}
.mazharul6{
    color: yellow;
    background-color: black;
    width: 380px;
    border-radius: 20px;
    text-align: center;
    height: 45px;
    font-size: 30px;
}
.division-tag{
    color:white;
    background-color: red;
    width: 400px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    font-size: 35px;
}